---
layout: archive
title: "연구 및 발표"
permalink: /publications/
author_profile: true
lang: "ko"
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.hidden %}
        {% continue %}
      {% endif %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% if post.hidden %}
      {% continue %}
    {% endif %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
