{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<!-- Language Toggle Script -->
<script>
  (function() {
    var userLang = localStorage.getItem('site_lang');
    var basePath = '{{ site.baseurl | default: "" }}';
    var pathName = window.location.pathname;
    
    // 루트 판단 (basePath + '/' 혹은 basePath + '/en/' 혹은 index.html)
    var isRootPath = pathName === basePath + '/' || pathName === basePath + '/index.html' || pathName === basePath + '/en/' || pathName === basePath + '/en/index.html';

    if (isRootPath) {
      if (!userLang) {
        // 첫 방문 시에만 브라우저 언어 감지
        userLang = navigator.language.startsWith('ko') ? 'ko' : 'en';
        localStorage.setItem('site_lang', userLang);
        
        // 브라우저가 영어 권역일 경우 영어 루트로 전송
        if (userLang === 'en' && (pathName === basePath + '/' || pathName === basePath + '/index.html')) {
          window.location.replace(basePath + '/en/');
        }
      } else {
        // 이미 언어를 선택한 사용자가 루트로 접근했을 때
        if (userLang === 'en' && (pathName === basePath + '/' || pathName === basePath + '/index.html')) {
          window.location.replace(basePath + '/en/');
        } else if (userLang === 'ko' && (pathName === basePath + '/en/' || pathName === basePath + '/en/index.html')) {
          window.location.replace(basePath + '/');
        }
      }
    }
  })();
</script>